Lib
.env
config.py

Scripts
.lock
CACHEDIR.TAG
pyvenv.cfg
include
__pycache__



project/config/config.json

project/agents/config.json
project/agents/logs
project/agents/screenshots
project/agents/excel
project/agents/timeSheets

